[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymongo = "*"
beautifulsoup4 = "*"
requests = "*"
dataclasses = "*"
python-dotenv = "*"
newsapi-python = "*"
pytz = "*"

[requires]
python_version = "3.6"
